div.btn{
    background-color: chocolate;
    color: seashell;
    width: 100px;
    margin: 50px;
    padding: 100px;

    border-radius: 15px;
    box-shadow: gray 10px 10px 10px;
    transition: 0.8s;
    /* transition: height 5s 10s width 0s 1s ; */
}

.btn:hover{
    /* transform: translate(-10px, -10px); */
    box-shadow: gray 20px 20px 20px;
    /* height: 100px;
    width: 200px;
    margin: 20px; */

}

.btn:active{
    background-color: hotpink;
    transform: translate(5px,5px);
    box-shadow: gray 5px 5px 5px;
    transition: 0.2s;
}

.target {
    font-size: 14px;
    transition: font-size 4s ;
  }
  
  .target:hover {
    font-size: 36px;
  }